.card-lance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 40px;
    
    margin-left: 38%;
    margin-top: 100px;

    background: #bddede;
    border-radius: 20px;
}

.user-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
}


.user-part-card-img{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 30px;
    border-radius: 100%;
}

.user-part h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 2px;
    font-size: 14px;
    line-height: 25px;
    color: rgb(21, 21, 21);
}

.lance-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    margin-top: 1px;
    margin-left: -10px;
}

.moeda{
    margin-top: 11px;
    margin-right: -10px;
    margin-left: 30px;
    color: yellow;
}


.lance-part h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    margin-top: 6px;
    margin-left: -300px;
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-right: 10px;
}